.Box {
  text-align: center;
  height: 5vh;
  width: 5vh;
  overflow: hidden;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  border-width: 3px;
  border-style: outset;
}

.Box:disabled {
  border-width: 1px;
}
